<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibond.common.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.ibond.dcm.entity.User">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		ID, `NAME`
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from TUSER
        where ID = #{id,jdbcType=DECIMAL}
    </select>
</mapper>