<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibond.common.daoExtend.DBBasicIssuerDao">
    <select id="listIssuer" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List"/>
        from BASIC_ISSUER
        where 1=1
        <if test="term != null and term != ''">
            and  (upper(COMP_NAME) like concat('%' , upper(#{term}) , '%') or upper(COMP_SNAME) like concat('%' , upper(#{term}) , '%'))
        </if>
        limit 50
    </select>
</mapper>